version: '3.3'

volumes:
  pg_data_foodgram:
  static_volume:
  media_volume:

services:
  db:
    image: postgres:13
    env_file: 
      - ../.env
    volumes:
      - pg_data_foodgram:/var/lib/postgresql/data
  backend:
    container_name: backend
    image: number92/foodgram_backend
    
    env_file: 
      - ../.env
    volumes:
      - static_volume:/static/backend_static/
      - media_volume:/media/recipe/images/
  frontend:
    image: number92/foodgram_frontend
    volumes:
      - ../frontend/:/app/result_build/
    depends_on:
      - backend
  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - static_volume:/static/backend_static/
      - media_volume:/media/recipe/images/
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
